@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400&display=swap");

// varibale
$color-primary: rgb(55, 178, 77);
$color-primary-rgba: rgb(55, 178, 77);
$color-secondary: #1c5927;
$color-secondary-rgba: rgb(28, 89, 39);
$bg-color: #f2debb;
@mixin box-shadow {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #555;
  font-size: 1.6rem;
  background-image: radial-gradient(#ddd, #eee);
}
html {
  font-size: 62.5%;
}
// reusable
.card-features {
  //   background-color: red;
  height: 28rem;

  border-radius: 15px;
  @include box-shadow();
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;

  gap: 9.6rem;
  &--2--cols {
    grid-template-columns: repeat(2, 1fr);
  }
  &--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
}
.subtitle {
  color: $color-primary;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
}

.heading-title {
  font-size: 3.6rem;
}
.heading-primary {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
  background-image: linear-gradient(to right, $color-secondary, $color-primary);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
}
.btn {
  &:link,
  &:visited {
    display: inline-block;
    font-size: 2rem;
    color: $color-primary;
    border-bottom: 1px solid $color-primary;
    padding: 1rem 1.2rem;
    text-decoration: none;
    transition: all 0.2s;
    border-radius: 5px;
  }
  &:hover {
    background-color: $color-primary;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translate(0);
  }
}
// helper
.mb-md {
  margin-bottom: 4.8rem;
}
.cn{
  display: flex;
  align-items: center;
  justify-content: center;
}


// header
.logo {
  padding: 5px;
  height: 6.2rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-color;
  height: 9.6rem;
  padding: 0 4.8rem;
}
// navigation
.main-nav {
  &__list {
    list-style: none;
    display: flex;
    gap: 3.2rem;
    align-items: center;
  }
  &__link {
    transition: all 0.2s;
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: #333;
      font-weight: 500;
      font-size: 1.6rem;
      text-transform: uppercase;
    }
    &:hover,
    &:active {
      color: $color-primary;
    }
  }
}
.nav-cta {
  &:link,
  &:visited {
    padding: 1rem 2rem;
    border-radius: 5px;
    color: #fff;
    background-color: $color-primary;
    @include box-shadow();
  }
  &:active {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(2px);
  }
}

// hero
.section-hero {
  background-color: $bg-color;
  padding: 4.8rem 0 9.6rem 0;

  &__box {
    margin: 0 auto;
    max-width: 130rem;
    display: grid;
    padding: 0 3.2rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 6.2rem;
  }
  &__img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }
  &__description {
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 4.8rem;
    color: #555;
  }
  &__social {
    display: flex;
    width: 25%;
    justify-content: space-between;
    transition: all 0.2s ease-out;
    a {
      margin-right: 1rem;
      &:link,
      &:visited {
        color: #333;
        text-decoration: none;
      }
      &:hover {
        color: #fff;
      }
    }
    i {
      padding: 1rem 1.2rem;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      font-size: 3.6rem;
      border-radius: 15px;

      &:hover {
        background-color: $color-primary;
      }
    }
  }
  &__social-heading {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

// features

.features-text {
  display: flex;
  flex-direction: column;
}
.section-features {
  //   background-color: blue;
  padding: 9.6rem 0;

  &__content-box {
    padding: 0 2.4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.2s;
    overflow: hidden;
  }

  &__content-box:hover &__icon {
    stroke: #fff;
  }
  &__content-box:hover {
    color: #fff;
    background-color: $color-primary;
  }
  &__content-box:hover &__heading {
    color: #fff;
  }
  &__icon {
    stroke: $color-primary;
    height: 4.8rem;
  }
  &__heading {
    font-size: 2rem;
    text-align: center;
    color: #333;
  }
  &__description {
    text-align: center;
  }
}
// portfolio
.card-portfolio {
  height: 36rem;
  // background-color: orangered;
  border-radius: 15px;
  @include box-shadow();
}
.portfolio-img {
  padding: 2.4rem;
  height: 10em;
  width: auto;
  border-radius: 15px;
  // @include box-shadow();
}
.section-portfolio {
  padding: 9.6rem 0;
  &__content-box {
    padding: 1.2rem 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
  }
  &__link:link{
    text-decoration: none;
    color: #555;
  }
  &__link:visited{
    text-decoration: none;
  }
  &__heading {
    font-size: 2rem;
    text-align: center;
    color: $color-primary;
    font-weight: 600;
    cursor: pointer;
  }

  &__description {
    cursor: pointer;
    text-align: center;
    &:hover {
      color: $color-primary;
    }
  }
}
.portfolio-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
// resume
.section-resume {
  width: 70%;
  padding: 2.4rem;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  @include box-shadow();
  flex-direction: column;
  & li {
    list-style: none;
    margin: 3.2rem 1.6rem;
    & h3 {
      font-size: 1.6rem;
      text-transform: uppercase;
      align-self: center;
      margin-bottom: 1rem;
    }
  }
  & span {
    align-self: center;
    font-size: 2rem;
    text-align: center;
    color: $color-primary;
    font-weight: 600;
  }
  &-bar {
    background: #353b48;
    display: block;
    height: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;
    @include box-shadow();
    & span {
      height: 10px;
      float: left;
      background: $color-primary;
    }
    &:hover {
      box-shadow: 0 0 1rem #2187e7b3;
    }
  }
}
.html {
  width: 60%;
}
.css {
  width: 50%;
}
.laravel {
  width: 50%;
}
.django {
  width: 50%;
}
// contact
.section-cta {
  margin: 0 auto;
  padding: 9.6rem 3.2rem 0 3.2rem;
  // background-image: linear-gradient(to right, $color-primary, $color-secondary);
  &__box {
    background-image: linear-gradient(
        105deg,
        rgba(#fff, 0.7) 0%,
        rgba(#fff, 0.7) 50%,
        transparent 50%
      ),
      url(./img/top-view-chat-bubbles-with-telephone-receiver-copy-space.jpg);
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  &__form {
    width: 50%;
    padding: 6rem;
  }
}
textarea {
  font-family: inherit;
}
.form {
  &__group {
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__input {
    font-family: inherit;
    font-size: 1.3rem;
    padding: 1rem 1.5rem;
    border-radius: 2px;
    background-color: rgba(#fff, 0.5);
    &:focus {
      outline: none;
      @include box-shadow();
      border-bottom: 3px solid $color-primary;
    }
  }
  .submit {
    padding: 1.6rem;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    transition: all 0.2s;
    &:hover {
      transform: translateY(-2px);
      background-color: $color-primary;
      @include box-shadow();
      color: white;
    }
    &:active {
      transform: translateY(2px);
    }
  }
}
// footer
.footer {
  padding: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
// mobile-nav

.btn-mobile-nav {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: $color-primary;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}
